<div class="relative" (mouseenter)="dropdownOpen.set(true)" (mouseleave)="dropdownOpen.set(false)">
    <div class="grid grid-flow-col grid-rows-2 gap-x-1 cursor-pointer p-2 max-w-50 min-w-20">
        <h4
            class="text-neutral-200 text-sm font-bold whitespace-nowrap overflow-hidden text-ellipsis"
        >
            {{ user().name }}
        </h4>
        <h5
            class="text-neutral-400 text-xs font-medium whitespace-nowrap overflow-hidden text-ellipsis"
        >
            @{{ user().username }}
        </h5>
        <svg
            class="row-span-2 self-center fill-neutral-400"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M10 12.8332L5 7.83317L6.16667 6.6665L10 10.4998L13.8333 6.6665L15 7.83317L10 12.8332Z"
            />
        </svg>
    </div>
    @if (dropdownOpen()) {
    <ul
        class="bg-neutral-900 rounded-lg text-neutral-400 font-normal text-sm p-4 shadow-[0_0px_8px_2px] shadow-neutral-700/25 min-w-fit w-full absolute right-0 divide-y divide-neutral-700 *:py-3 *:first:pt-0 *:last:pb-0 *:hover:text-neutral-200 *:cursor-pointer"
    >
        <li><a [routerLink]="['/profile', user().id]">Meu perfil</a></li>
        <li><a routerLink="settings">Configurações</a></li>
        <li><a (click)="logout()">Sair</a></li>
    </ul>
    }
</div>
