services:
    angular:
        build:
            context: .
            target: dev
        ports:
            - '4200:4200'
        volumes:
            - .:/app
            - /app/node_modules
