<ul
    class="px-10 mb-12 mx-auto grid grid-cols-[repeat(auto-fit,200px)] lg:justify-start justify-center max-w-306 gap-x-9 gap-y-10"
>
    @if (loading()) { @for (n of skeletonCount; track $index) {
    <li>
        <div class="w-50 h-72 rounded-lg bg-neutral-800 animate-pulse"></div>
        <div class="mt-3 h-4 w-40 bg-neutral-800 rounded animate-pulse"></div>
        <div class="mt-2 h-4 w-28 bg-neutral-800 rounded animate-pulse"></div>
    </li>
    } } @else { @for (movie of movies(); track $index) {
    <li>
        <app-media-card
            [title]="movie.title"
            [subtitle]="movie.releaseDate | date : 'yyyy'"
            [routerLink]="['/movies', movie.tmdbId]"
        >
            <img
                class="w-50 h-72 aspect-[7/10] rounded-lg"
                [src]="movie.posterUrl || '/assets/broken-image.svg'"
                [alt]="movie.title"
                [class.border]="!movie.posterUrl"
                [class.border-neutral-800]="!movie.posterUrl"
            />
        </app-media-card>
    </li>
    } @empty {
    <li class="col-span-full">
        <p class="text-neutral-500 text-center p-3">Nenhum item encontrado.</p>
    </li>
    } }
</ul>
@if (totalPages() > 1) {
<app-page-selector
    class="flex justify-center"
    [currentPage]="page()"
    (currentPageChange)="navigateToPage($event)"
    [totalPages]="totalPages()"
></app-page-selector>
}
