<header
    class="bg-neutral-900/90 container py-4 flex flex-wrap justify-center items-center gap-6 sticky inset-0 z-10 backdrop-blur-xs"
>
    <a routerLink="/">
        <img src="assets/logo.svg" alt="Rebobinei logo" />
    </a>
    <nav class="flex flex-1 items-center justify-end sm:gap-6 gap-3">
        <app-search-trigger
            (onClick)="openSearchModal()"
            class="w-full max-w-80"
        ></app-search-trigger>
        <span class="block w-[1px] h-9 rounded-lg bg-neutral-700"></span>
        @if(isAuthenticated()) {
        <app-user-menu [user]="user()!"></app-user-menu>
        } @else {
        <button class="btn-outline" type="button" title="Entrar" (click)="openAuthModal()">
            Entrar
        </button>
        }
    </nav>
</header>
<ng-container #searchModal></ng-container>
