<section class="bg-neutral-900 container py-10">
    <h1
        class="text-neutral-200 font-bold text-2xl mb-10 tracking-wide uppercase px-5 break-all sm:mb-15 sm:text-5xl"
    >
        Configurações
    </h1>
    <div
        class="grid grid-rows-[max-content_1fr] gap-10 px-5 sm:grid-rows-1 sm:grid-cols-[max-content_1fr] sm:gap-20"
    >
        <nav
            class="flex flex-col gap-3 text-neutral-400 font-normal tracking-wide uppercase sm:w-fit *:hover:text-neutral-200"
        >
            <a routerLink="account" routerLinkActive="text-neutral-200 font-semibold">Sua conta</a>
            <a routerLink="" routerLinkActive="text-neutral-200 font-semibold">Senha</a>
            <span class="block h-[1px] rounded-lg bg-neutral-700 w-full"></span>
            <a routerLink="" routerLinkActive="text-neutral-200 font-semibold">Excluir conta</a>
        </nav>
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</section>
