<section class="bg-neutral-900 container py-10">
    <h1 class="text-neutral-200 font-bold text-4xl sm:text-5xl tracking-wide uppercase mb-15 px-5">
        Resultados
    </h1>
    <ul
        class="px-10 mb-12 mx-auto grid grid-cols-[repeat(auto-fit,200px)] lg:justify-start justify-center max-w-306 gap-x-9 gap-y-10"
    >
        <li>
            <app-media-card
                imageUrl="https://media.themoviedb.org/t/p/w300_and_h450_bestv2/xeZ8oG6W60fEPf9yCjERUXiHRBF.jpg"
                title="Superman"
                subtitle="2025"
                [routerLink]="['/movies', 123]"
            ></app-media-card>
        </li>
    </ul>
    <app-page-selector
        class="flex justify-center"
        [currentPage]="page()"
        (currentPageChange)="navigateToPage($event)"
        [totalPages]="totalPages"
    ></app-page-selector>
</section>
