<ul class="max-w-250 m-auto *:mb-4">
    @if (loading()) { @for (n of skeletonCount; track $index) {
    <li class="bg-neutral-800 animate-pulse rounded-lg w-full h-20"></li>
    } } @else { @for (review of movieStateService.reviews().data; track $index) {
    <li>
        <app-movie-review-item
            [review]="review"
            [canDelete]="review.author.id === currentUser()?.id"
            (delete)="onDeleteReview($event)"
            [isLoading]="isDeletingReview()"
        ></app-movie-review-item>
    </li>
    } @empty {
    <li class="col-span-full">
        <p class="text-neutral-500 text-center p-3">Nenhuma avaliação feita.</p>
    </li>
    } }
</ul>
@if (movieStateService.reviews().totalPages > 1) {
<app-pagination
    class="flex justify-center"
    [currentPage]="page()"
    (currentPageChange)="navigateToPage($event)"
    [totalPages]="movieStateService.reviews().totalPages"
></app-pagination>
}
