<ul class="overflow-x-auto pb-4 mx-5 flex gap-4 sm:gap-8 *:shrink-0 scrollbar scroll-smooth">
    @for (member of cast(); track $index) {
    <li>
        <app-media-card [title]="member.name" [subtitle]="member.character">
            <img
                class="w-28 h-40 aspect-[7/10] rounded-lg"
                [src]="member.profileUrl || '/assets/broken-image.svg'"
                [alt]="member.name"
                [class.border]="!member.profileUrl"
                [class.border-neutral-800]="!member.profileUrl"
            />
        </app-media-card>
    </li>
    }
</ul>
