<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <div class="w-full mb-3 flex flex-col gap-1">
        <label for="currentPassword" class="text-sm font-semibold text-neutral-200"
            >Senha atual</label
        >
        <input
            id="currentPassword"
            class="input"
            type="password"
            formControlName="currentPassword"
        />
        @if (currentPassword?.invalid && currentPassword?.touched) {
        <div class="text-xs font-normal text-rose-400">
            @if (currentPassword?.hasError('required')) {
            <p>Informe a senha.</p>
            }
        </div>
        }
    </div>
    <div class="w-full mb-3 flex flex-col gap-1">
        <label for="newPassword" class="text-sm font-semibold text-neutral-200">Nova senha</label>
        <input id="newPassword" class="input" type="password" formControlName="newPassword" />
        @if (newPassword?.pristine) {
        <p class="text-xs font-normal text-neutral-400">Mínimo de 6 caracteres.</p>
        } @if (newPassword?.invalid && newPassword?.touched) {
        <div class="text-xs font-normal text-rose-400">
            @if (newPassword?.hasError('required')) {
            <p>Informe a nova senha.</p>
            } @else if (newPassword?.hasError('minlength')) {
            <p>A nova senha deve conter pelo menos 6 caracteres.</p>
            } @else if (newPassword?.hasError('maxlength')) {
            <p>A senha deve conter no máximo 64 caracteres.</p>
            }
        </div>
        }
    </div>
    <div class="w-full mb-7 flex flex-col gap-1">
        <label for="passwordConfirmation" class="text-sm font-semibold text-neutral-200"
            >Confirmação da nova senha</label
        >
        <input
            id="passwordConfirmation"
            class="input"
            type="password"
            formControlName="passwordConfirmation"
        />
        @if (passwordConfirmation?.touched) {
        <div class="text-xs font-normal text-rose-400">
            @if (passwordConfirmation?.invalid && passwordConfirmation?.hasError('required')) {
            <p>Informe a confirmação da nova senha.</p>
            } @else if (passwordForm.hasError('noMatchPasswords')) {
            <p>As senhas não correspondem.</p>
            }
        </div>
        }
    </div>
    <button
        class="btn float-end"
        type="submit"
        title="Alterar senha"
        [disabled]="passwordForm.invalid || isLoading()"
    >
        {{ isLoading() ? 'Carregando...' : 'Alterar senha' }}
    </button>
</form>
