<section class="relative py-10 px-5">
    <div class="flex items-center mb-6">
        <h3 class="text-neutral-200 font-semibold text-xl tracking-wide uppercase pr-2 sm:text-2xl">
            Em breve
        </h3>
        <span class="block flex-1 h-[1px] rounded-lg bg-neutral-700 max-w-20"></span>
    </div>
    <ul class="flex flex-wrap justify-center gap-4 sm:gap-8">
        @if (loading()) { @for (n of skeletonCount; track $index) {
        <li class="bg-neutral-800 animate-pulse rounded-lg w-full min-w-50 max-w-112 h-60"></li>
        } } @else { @for (movie of movies().data; track $index) {
        <li>
            <a
                [routerLink]="['/movies', movie.tmdbId]"
                class="relative w-64 h-36 aspect-[16/9] flex flex-col justify-end p-4 rounded-lg transition-all sm:w-112 sm:h-63 group overflow-hidden"
            >
                <img
                    class="absolute inset-0 size-full object-cover brightness-80 -z-10 rounded-lg group-hover:scale-105 group-focus:scale-105 transition-transform"
                    [src]="movie.backdropUrl || '/assets/broken-image.svg'"
                    alt=""
                />
                <div
                    class="absolute inset-0 bg-gradient-to-t -z-10 from-neutral-950 via-transparent to-transparent rounded-lg"
                ></div>
                <h5
                    class="text-lg font-bold tracking-wide uppercase text-neutral-200 line-clamp-3 mb-1"
                >
                    {{ movie.title }}
                </h5>
                <h6 class="text-xs font-light text-neutral-200">
                    {{ movie.releaseDate | date : 'yyyy' }}
                </h6>
            </a>
        </li>
        } @empty {
        <li class="flex-1 text-center">
            <p class="text-neutral-500">Nenhum em breve encontrado.</p>
        </li>
        } }
    </ul>
</section>
