<footer
    class="bg-neutral-800 container py-10 flex justify-between items-center gap-4 border-t-1 border-neutral-500"
>
    <div>
        <a routerLink="/">
            <img src="assets/logo.svg" alt="Rebobinei logo" />
        </a>
        <p class="text-sm font-normal text-neutral-400 tracking-wide">
            Rebobinei © Alguns direitos reservados.
        </p>
    </div>
    <ul class="flex flex-col gap-3 px-3 sm:flex-row sm:gap-5 *:cursor-pointer *:hover:scale-110">
        <li>
            <img src="assets/instagram.svg" alt="Instagram" title="Instagram" />
        </li>
        <li>
            <img src="assets/facebook.svg" alt="Facebook" title="Facebook" />
        </li>
        <li>
            <img src="assets/youtube.svg" alt="Youtube" title="Youtube" />
        </li>
    </ul>
</footer>
