<app-base-modal (onClose)="closeModal()">
    <section
        class="bg-neutral-950 px-10 py-6 rounded-lg shadow-[0_0px_8px_2px] shadow-neutral-700/25 max-w-2xl h-fit w-full my-6 mx-4 flex flex-col relative"
    >
        <button
            type="button"
            class="absolute top-2 right-2 p-2 cursor-pointer hover:*:fill-neutral-300 hover:bg-neutral-900 rounded-lg transition-colors"
            (click)="closeModal()"
        >
            <svg
                class="fill-neutral-500 transition-colors h-5 w-5"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M6.4 19L5 17.6L10.6 12L5 6.4L6.4 5L12 10.6L17.6 5L19 6.4L13.4 12L19 17.6L17.6 19L12 13.4L6.4 19Z"
                />
            </svg>
        </button>
        <div class="flex items-center mb-6">
            <h2
                class="text-neutral-200 font-semibold text-xl tracking-wide uppercase pr-2 sm:text-2xl"
            >
                Excluir conta
            </h2>
            <span class="block flex-1 h-[1px] rounded-lg bg-neutral-700 max-w-20"></span>
        </div>
        @switch (step()) { @case (1) {
        <app-delete-confirm-step (confirm)="setStep(2)" (cancel)="closeModal()" />
        } @case (2) { @if(this.alert().show) {
        <app-alert
            [type]="this.alert().type"
            [message]="this.alert().message"
            (dismissed)="this.alert().show = false"
            class="mb-3"
        ></app-alert>
        }
        <app-password-confirm-form
            submitLabel="Confirmar exclusão"
            cancelLabel="Voltar"
            [isLoading]="isDeleting()"
            (cancel)="setStep(1)"
            (passwordSubmit)="confirmDelete($event)"
        />
        } }
    </section>
</app-base-modal>
