<section class="relative py-10 px-5">
    <div class="flex items-center mb-6">
        <h3 class="text-neutral-200 font-semibold text-xl tracking-wide uppercase pr-2 sm:text-2xl">
            Últimas avaliações
        </h3>
        <span class="block flex-1 h-[1px] rounded-lg bg-neutral-700 max-w-20"></span>
    </div>
    <ul class="flex flex-wrap justify-center gap-4 sm:gap-8">
        @for(review of reviews().data; track $index){
        <li>
            <a
                [routerLink]="['/', { outlets: { modal: ['reviews', review.id] } }]"
                class="relative flex flex-col p-5 rounded-lg transition-all size-full max-w-112 max-h-63 hover:scale-105 focus:scale-105"
            >
                <img
                    class="absolute inset-0 size-full object-cover brightness-30 -z-10 rounded-lg"
                    [src]="review.movie.backdropUrl"
                    alt=""
                />
                <app-rating [rating]="review.rating" [disabled]="true"></app-rating>
                <h5 class="text-lg font-bold tracking-wide uppercase text-neutral-200 mb-5">
                    {{ review.movie.title }}
                </h5>
                <div class="flex gap-x-1 flex-wrap items-center mb-1">
                    <h4 class="text-lg font-bold text-neutral-200">{{ review.author.name }}</h4>
                    <h5 class="text-neutral-400 text-md font-normal">
                        @{{ review.author.username }}
                    </h5>
                </div>
                @if(review.comment) {
                <p class="text-md font-normal text-neutral-200 line-clamp-4 flex-1">
                    {{ review.comment }}
                </p>
                } @else {
                <p class="text-md font-normal text-neutral-400 flex-1">
                    Nenhum comentário realizado.
                </p>
                }
            </a>
        </li>
        }
    </ul>
</section>
