<a
    class="flex gap-3 flex-col bg-neutral-800/50 rounded-lg border border-neutral-800 p-4 cursor-pointer group transition-all sm:flex-row sm:items-start hover:border-rose-500/50 hover:bg-neutral-800/70"
    [routerLink]="['reviews', review().id]"
    queryParamsHandling="preserve"
>
    <img
        class="w-28 h-40 aspect-[7/10] rounded-lg self-center group-hover:scale-105 transition-transform duration-300"
        [src]="review().movie.posterUrl"
        [alt]="review().movie.title"
    />
    <div class="flex flex-col flex-1 min-h-40">
        <div class="flex justify-between flex-col-reverse mb-1 sm:flex-row">
            <a
                class="text-neutral-50 text-md font-semibold uppercase tracking-wide group-hover:text-rose-400 hover:underline hover:underline-offset-3"
                [routerLink]="['/movies', review().movie.tmdbId]"
                (click)="onInnerLinkClick($event)"
            >
                {{ review().movie.title }}
            </a>
            <h5 class="text-neutral-500 text-xs">
                {{ review().createdAt | date : 'dd/MM/yyyy' }}
            </h5>
        </div>
        <div class="flex mb-3 leading-none">
            <app-rating
                [rating]="review().rating"
                [disabled]="true"
                customClass="w-4 h-4"
            ></app-rating>
        </div>
        @if(review().comment) {
        <p
            class="flex-1 text-sm text-neutral-300 line-clamp-3 transition-colors group-hover:text-neutral-200"
        >
            {{ review().comment }}
        </p>
        } @else {
        <p class="flex-1 text-sm text-neutral-500 group-hover:text-neutral-400">
            Nenhum comentário realizado.
        </p>
        }
        <div class="flex items-center justify-between">
            <p
                class="text-xs text-rose-500/70 mt-2 opacity-0 group-hover:opacity-100 transition-opacity"
            >
                Clique para ver detalhes
            </p>
            @if (canDelete()) {
            <button
                class="p-2 rounded-lg transition-colors cursor-pointer hover:*:fill-rose-400 hover:bg-neutral-900/50"
                type="button"
                title="Excluir avaliação"
                (click)="onDelete($event)"
                [disabled]="isLoading()"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="16"
                    width="16"
                    viewBox="0 -960 960 960"
                    class="fill-neutral-500"
                >
                    <path
                        d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"
                    />
                </svg>
            </button>
            }
        </div>
    </div>
</a>
