<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="w-full mb-3 flex flex-col gap-1">
        <label for="email" class="text-sm font-semibold text-neutral-200">Email</label>
        <input type="email" class="input" formControlName="email" />
        @if (email?.invalid && email?.touched) {
        <div class="text-xs font-normal text-red-400">
            @if (email?.hasError('required')) {
            <p>Informe o email.</p>
            } @else if (email?.hasError('email')) {
            <p>Informe um email válido.</p>
            }
        </div>
        }
    </div>
    <div class="w-full mb-6 flex flex-col gap-1">
        <label for="password" class="text-sm font-semibold text-neutral-200">Senha</label>
        <input type="password" class="input" formControlName="password" />
        @if (password?.invalid && password?.touched) {
        <div class="text-xs font-normal text-red-400">
            @if (password?.hasError('required')) {
            <p>Informe a senha.</p>
            } @else if (password?.hasError('minlength')) {
            <p>A senha deve conter pelo menos 6 caracteres.</p>
            }
        </div>
        }
    </div>
    <button class="btn w-full" type="submit" title="Entrar" [disabled]="loginForm.invalid">
        Entrar
    </button>
</form>
