@import 'tailwindcss';

@utility container {
    margin: 0 auto;
    padding: 0 0.5rem;
    @media (width >= 40rem) {
        padding: 0 1rem;
    }
}

@layer components {
    .input {
        @apply rounded-xl border-1 border-neutral-500 bg-neutral-800 px-4 py-2 text-base font-normal text-neutral-200 focus:outline-none focus:ring-2 focus:ring-neutral-500 focus:border-neutral-600 placeholder:text-neutral-400 placeholder:text-sm;
    }

    .btn {
        @apply rounded-xl bg-red-600 px-4 py-2 text-base font-medium text-neutral-200 transition hover:contrast-200 hover:cursor-pointer focus:outline-none focus:ring-1 focus:ring-red-500 focus:border-red-600 disabled:opacity-80 disabled:cursor-not-allowed;
    }

    .btn-outline {
        @apply rounded-xl border-2 border-red-500 bg-neutral-800 px-4 py-2 text-base font-medium text-neutral-200 transition hover:contrast-200 hover:cursor-pointer focus:outline-none focus:ring-1 focus:ring-red-500 focus:border-red-600 disabled:opacity-80 disabled:cursor-not-allowed;
    }
}
