@import 'tailwindcss';

@utility container {
    margin: 0 auto;
    padding: 0 0.5rem;
    @media (width >= 40rem) {
        padding: 0 1rem;
    }
}

@layer components {
    .input {
        @apply rounded-lg border-1 border-neutral-700 bg-neutral-900 px-4 py-2 text-base font-normal text-neutral-200 focus:outline-none focus:ring-2 focus:ring-neutral-700 focus:border-neutral-800 placeholder:text-neutral-400 placeholder:text-sm;
    }

    .btn {
        @apply rounded-lg bg-rose-600 px-4 py-2 text-base font-medium text-neutral-200 transition hover:contrast-125 hover:cursor-pointer focus:outline-none focus:ring-1 focus:ring-rose-500 focus:border-rose-600 disabled:opacity-80 disabled:cursor-not-allowed;
    }

    .btn-outline {
        @apply rounded-lg border-2 border-rose-500 bg-neutral-900 px-4 py-2 text-base font-medium text-neutral-200 transition hover:contrast-125 hover:cursor-pointer focus:outline-none focus:ring-1 focus:ring-rose-500 focus:border-rose-600 disabled:opacity-80 disabled:cursor-not-allowed;
    }
}
