@import 'tailwindcss';

@utility container {
    margin: 0 auto;
    padding: 0 0.5rem;
    @media (width >= 40rem) {
        padding: 0 1rem;
    }
}

@utility scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--color-neutral-700) var(--color-neutral-900);
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    &::-webkit-scrollbar-track {
        background: var(--color-neutral-700);
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--color-neutral-900);
        border-radius: 8px;
        border: 1px solid var(--color-neutral-700);
    }
}

@utility fade-borders {
    mask-image: linear-gradient(to right, transparent, #171717 25%, #171717 75%, transparent),
        linear-gradient(to left, transparent, #171717 25%, #171717 75%, transparent),
        linear-gradient(to bottom, transparent, #171717 25%, #171717 75%, transparent),
        linear-gradient(to top, transparent, #171717 25%, #171717 75%, transparent);
    mask-composite: intersect;
}

@layer components {
    .input {
        @apply rounded-lg border-1 border-neutral-700 bg-neutral-900 px-4 py-2 text-base font-normal text-neutral-200 focus:outline-none focus:ring-2 focus:ring-neutral-700 focus:border-neutral-800 placeholder:text-neutral-400 placeholder:text-sm;
    }

    .btn {
        @apply rounded-lg bg-rose-600 px-4 py-2 text-base font-medium text-neutral-200 transition hover:contrast-125 hover:cursor-pointer focus:outline-none focus:ring-1 focus:ring-rose-500 focus:border-rose-600 disabled:opacity-80 disabled:cursor-not-allowed;
    }

    .btn-outline {
        @apply rounded-lg border-2 border-rose-500 bg-neutral-900 px-4 py-2 text-base font-medium text-neutral-200 transition hover:contrast-125 hover:cursor-pointer focus:outline-none focus:ring-1 focus:ring-rose-500 focus:border-rose-600 disabled:opacity-80 disabled:cursor-not-allowed;
    }
}
